genlayer-py @ git+https://github.com/genlayerlabs/genlayer-py@v0.19-dev
genlayer-test @ git+https://github.com/genlayerlabs/genlayer-testing-suite@v0.30-dev
genvm-linter @ git+https://github.com/genlayerlabs/genvm-linter@v0.11-dev
requests>=2.31.0
python-dotenv>=1.0.1
eth-account>=0.13.3
eth-utils>=5.0.0
